body{
  max-width: 380px;
  margin:auto;
  font-family: 'Maven Pro', sans-serif;
}
.site-header{
  background: url(../img/header-image.webp);
  max-width: 100%;
  padding:30px 
}
.container{
  background-color: white;
  opacity: 90%;
}
.kiwi-link{
  background-color: #57bb6b;
  
  border: 24px;
  border-radius: 15px;
}
















































haha nice 